#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(85, 85, 85, 0.491);
  padding: 16px;
}
